.avenger {
    border-radius: 25px;
    padding: 30px;
    padding-bottom: 0;
    width: 20%;
    background-color: lightpink;
}

.avenger-image {
    height: 80%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.avenger-name {
    color: #443d3d;
    font-weight: 550;
    padding: 0;
    margin: 0;
}

.avenger-charname {
    padding: 0;
    margin: 0;
    color: #443d3d;
    font-weight: 450;
}

@media (max-width: 480px) {
    .avenger {
        border-radius: 25px;
        padding: 30px;
        padding-bottom: 0;
        width: 100%;
        background-color: lightpink;
    }
}